.mobiledel {
	display: none;
}
	
body{
	display: flex;
	max-width: 935px;
	min-width: 471px;
    margin: auto;
	font-family: Helvetica, Arial, sans-serif;
	color: #262626;
}

.foto-perfil{
	border: 2px solid rgba(192, 192, 192, 0.658);
	border-style: double;
	border-radius: 100%;
	float: left;
	margin-left: -100px;
	width: 120px;
	height: 120px;
}

.mobile1 {
	margin-left: -60px;
	width: 100%;
}

.mobile2 {
	margin-left: -55px;
	margin-top: 160px;
	margin-bottom: 30px;
	font-size: 20px;
}

.mobile3 {
	margin-top: -180px;
	font-size: 15px;
	padding-right: 20px;
	float: right;
	
}

.destaque {
	width: 77px;
	height: 77px;
	border-radius: 100%;
	object-fit: cover;
	margin-left: -60px;
	margin-right: 60px;
}

.subdestaques {
	margin-left: -50px;
	margin-bottom: 40px;
	font-weight: bold;
}

.fotos {
	display: flex;
	flex-wrap: wrap;
}

.foto {
	width: 293px;
	height: 293px;
	margin: 0;
	padding: 5px;
}

.feed {
	width: 293px;
	height: 293px;
	object-fit: cover;
	object-position: top;
}

hr {
	display: none;
}

.icones {
	margin-bottom: 30px;
	width: 100%;
}

.icons {
	width: 15px;
	height: 15px;
}

@media (min-width: 481px) {

	.mobiledel {
		position: absolute;
		display: unset;
		margin-left: 40px;
		width: 150px;
	}

	body{
		display: flex;
		width: 935px;
		margin: 20px 0px 20px 20px;
		font-family: Helvetica, Arial, sans-serif;
		color: #262626;
	}

	.mobile1 {
		position: absolute;
		margin-top: -50px;
		margin-left: 210px;

	}

	.mobile2 {
		position: relative;
		padding-top: 10px;
		margin-left: 210px;
		margin-bottom: 30px;
		font-size: 20px;
	}

	.mobile3 {
		position: absolute;
		margin-top: 0;
		width: 500px;
		font-size: 20px;
		margin-left: 210px;
		float: right;
		
	}

	.foto-perfil{
		border: 2px solid rgba(192, 192, 192, 0.658);
		border-style: double;
		margin-top: -45px;
		margin-left: -40px;
		width: 180px;
		height: 180px;
	}

	.profile-info {
		line-height: 150%;
	}

	.highlighted-stories {
		position: relative;
		columns: 2;
		margin-top: 65px;
		margin-left: 10px;
	}

	.destaque {
		margin: 0 auto;
		margin-top: 100px;

	}

	.subdestaques {
		margin-left: 20px;
		margin-bottom: 70px;
		font-weight: bold;
	}

	.icones {
		margin-left: 240px;
		margin-bottom: 25px;
	}

	.fotos {
		width: 935px;
		margin-left: -67px;
	}

	.feed {
		width: 293px;
		height: 293px;
		object-fit: cover;
		object-position: top;
	}

}